.deps
.libs
*~
*.[oa]
*.l[oa]
*.diff
*.patch
*.rej

Makefile
Makefile.in
stamp-h1

/aclocal.m4
/autom4te.cache/
/config.cache
/config.log
/config.status
/config/
/configure
/libtool

/include/config.h
/include/config.in
/cdrwtool/cdrwtool
/mkudffs/mkudffs
/pktsetup/pktsetup
/udffsck/udffsck
/wrudf/wrudf
