Makefile
Makefile.in
aclocal.m4
m4/*.m4
autom4te.cache/
config/
configure
config.log
config.status
*/Makefile.in
*/Makefile
include/config.in
include/config.h
include/stamp-h1
*/.deps/
libtool
.libs
*.o
*.lo
*.la
.dirstamp
cdrwtool/cdrwtool
mkudffs/mkudffs
pktsetup/pktsetup
udffsck/udffsck
udfinfo/udfinfo
udflabel/udflabel
wrudf/wrudf
